<html>
    <head>
        <title>{{titulo}}</title>
    </head>
    <body>
        <h1>This is a hel html file</h1>
        <p>This is a hel content</p>
    </body>
    <footer>
        {{year}}
    </footer>
</html>